.menu {
    width: 1600px;
    height: 80px;
}
.logo-header {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.web {
    color: #2196F3;
}

.agencja {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}
.agencja:hover, 
.agencja:focus {
    color: #2196F3;
}
.agencja-aktywny {
    position: absolute;
    width: 53px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
}

.portfolio {
    position: absolute;
    width: 58px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.portfolio-aktywny {
    position: absolute;
    width: 58px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.portfolio:hover,
.portfolio:focus {
    color: #2196F3;
}

.kontakt {
    position: absolute;
    width: 51px;
    height: 16px;
    left: 656px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.kontakt:hover,
.kontakt:focus,
.tel-menu:hover,
.tel-menu:focus,
.email-menu:hover,
.email-menu:focus,
.mail-footer:hover,
.mail-footer:focus,
.tel-footer:hover,
.tel-footer:focus {
    color: #2196F3;
    cursor: pointer;
}

.email-menu {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.tel-menu {
    position: absolute;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}

.efektywne {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-zamow-usluge {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 380px;
    background: #2196F3;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.tabela-atuty {
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    list-style: none;
    display: flex;
}

.t1 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 0px;
}

.t2 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 300px;
}

.t3 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 600px;
}

.t4 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 900px;
}

.t1-naglowek, .t2-naglowek, .t3-naglowek, .t4-naglowek {
    position: absolute;
    width: 270px;
    height: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.t1-tresc, .t2-tresc, .t3-tresc, .t4-tresc {
    position: absolute;
    width: 270px;
    height: 75px;
    top: 26px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.zajecia {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 94px;
}

.zajecia-naglowek {
    position: absolute;
    left: 409px;
    top: 889px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.box1 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 0px;
    top: 981px;
}

.box2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 400px;
    top: 981px;
}

.box3 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 800px;
    top: 981px;
}

.zespol {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1369px;
    background: #F5F4FA;
}

.nasz-zespol {
    position: absolute;
    left: 695px;
    top: 1463px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.tabela-zespol {
    list-style: none;
    position: absolute;
    width: 1170px;
    height: 368px;
    left: 215px;
    top: 1555px;
    display: flex;
}

.zespol-1 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.zespol-2 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 300px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.zespol-3 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 600px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.zespol-4 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 900px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.zespol-1-imie, .zespol-2-imie, .zespol-3-imie, .zespol-4-imie {
    position: absolute;
    left: 99px;
    top: 270px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.zespol-1-stan {
    position: absolute;
    left: 70px;
    top: 299px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.zespol-2-stan {
    position: absolute;
    left: 62px;
    top: 299px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.zespol-3-stan {
    position: absolute;
    left: 97px;
    top: 299px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.zespol-4-stan {
    position: absolute;
    left: 92px;
    top: 299px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer-agencja {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2017px;
    background: #2F303A;
}

.footer-portfolio {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
}

.logo-footer {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.studio-footer {
    color: #FFFFFF;
}

.adres-footer {
    position: absolute;
    width: 246px;
    height: 21px;
    left: 215px;
    top: 111px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    white-space: nowrap;
}

.mail-footer {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 141px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 171px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}




.filtry {
    position: absolute;
    width: 572px;
    height: 54px;
    left: 510px;
    top: 174px;
    list-style: none;
    display: flex;
}

button {
    position: absolute;
    height: 38px;
    background: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    cursor:pointer;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

button:hover {
    background: #2196F3;
    color: #fff;
}

.b1 {
    width: 121px;
    left: 0px;
}

.b2 {
    width: 93px;
    left: 129px;
}

.b3 {
    width: 114px;
    left: 230px;
}

.b4{
    width: 91px;
    left: 352px;
}

.b5 {
    width: 121px;
    left: 451px;
}

.projekty {
    display: flex;
    list-style: none;
}

.kontener {
    position: absolute;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.projekt1 {
    left: 215px;
    top: 262px;
}

.projekt2 {
    left: 615px;
    top: 262px;
}

.projekt3 {
    left: 1015px;
    top: 262px;
}

.projekt4 {
    left: 215px;
    top: 696px;
}

.projekt5 {
    left: 615px;
    top: 696px;
}

.projekt6 {
    left: 1015px;
    top: 696px;
}

.projekt7 {
    left: 215px;
    top: 1130px;
}

.projekt8 {
    left: 615px;
    top: 1130px;
}

.projekt9 {
    left: 1015px;
    top: 1130px;
}

.projekt-tytul {
    position: absolute;
    left: 24px;
    top: 294px;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.projekt-podpis {
    position: absolute;
    width: 322px;
    height: 30px;
    left: 24px;
    top: 337px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}